<import template="/panel/_header" />
<import template="/panel/_content" />
<div class="page-title">

    <div class="title-env">
        <h1 class="title">邀请码</h1>
        <p class="description"></p>
    </div>

    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li>
                <a href="/member"><i class="fa-home"></i>主页</a>
            </li>
            <li class="active">
                <strong>邀请码</strong>
            </li>
        </ol>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
            <h3 class="panel-title">
                <a class="btn btn-danger btn-sm invitec" href="javascript:;" style="color:#FFF;">生成邀请码</a>
            </h3>
    </div>
    <div class="panel-body">

        <table class="table table-hover middle-align">
            <thead>
            <tr>
                <th>###</th>
                <th >邀请码</th>
                <th >状态</th>
            </tr>
            </thead>
            <tbody id="data-tbody">

            <if condition="count($inviteList) > 0">
            <loop variable="$inviteList" key="$key" value="$invite">
            <tr>
                <td>
                    {$key}
                </td>
                <td>
                    {$invite->invite}
                </td>
                <td>
                    <if condition="$invite->status == 0">
                        <a href="javascript:;" class="btn btn-sm btn-secondary" data-set-skin="">可用</a>
                    <else>
                        <a href="javascript:;" class="btn btn-sm btn-red" data-set-skin="">已用</a>
                    </if>
                </td>
            </tr>
            </loop>
            <else>
            <tr>
                <td colspan="3" align="center">您没有可用的邀请码</td>
            </tr>

            </tbody>
            </if>
        </table>

        <hr>
        <h4>注意！</h4>
        <p>邀请码请给认识的需要的人。<br />邀请有记录，若被邀请的人违反用户协议，您将会有连带责任。</p>
        <br>
        <pre>邀请码这种东西，若无力生成,请找管理员索要吧。</pre>

    </div>
</div>
<script>
    $(document).ready(function(){
        $(".invitec").click(function(){
            showToastr("生成邀请码中..", 0, 2000);
            var btn = $(this);
            btn.attr('disabled', 'disabled');
            $.ajax({
                type:"GET",
                url:"/invite/create.json",
                dataType:"json",
                success:function(result){
                    if(result.code != 200) {
                        showToastr(result.message, 0, 5000, '系统错误');
                        return;
                    }
                    var data = result.data;
                    if(data.error == 0) {
                        showToastr(data.message, 0, 5000);

                        if(data.invite != null) {
                            $("#data-tbody").append('<tr><td>'+ $("#data-tbody").children("tr").length +'</td><td>'+data.invite.invite+'</td><td><a href="javascript:;" class="btn btn-sm btn-secondary" data-set-skin="">可用</a></td></tr>');
                        }
                    } else {
                        showToastr(data.message, 0, 5000, '错误');
                    }
                    btn.removeAttr('disabled');
                },
                error:function(jqXHR){
                    showToastr("发生错误："+jqXHR.status, 0);
                    btn.removeAttr('disabled');
                }
            })
        });
    })
</script>
<import template="/panel/_footer" />